[Unit]
Description=Runs a server for inter-dino-app communication
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=3
WorkingDirectory=/home/pi/MyDino
User=pi
Environment=PYTHONPATH=/home/pi/MyDino
ExecStart=/home/pi/MyDino/venv/bin/python ./communication/server/dinoserver.py

[Install]
WantedBy=multi-user.target